<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
    <div class="row">
        <div class="col col-sm-4">
            <div class="col-xl-12 col-sm-12 mb-5">
                <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="6" [label]="'New Reports!'"></app-stat>
            </div>
            <div class="col-xl-12 col-sm-12 mb-5">
                <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'New Comments!'"></app-stat>
            </div>
        </div>

        <div class="col col-sm-8">
            <div class="card mb-3">
                <div class="card-header">
                    Aantal ongevallen per type voertuig van verzekerde bij {{username}}
                </div>
                <div *ngIf="isLoaded" class="card-body">
                    <canvas
                        baseChart
                        [datasets]="stackedBarChartData"
                        [labels]="stackedBarChartLabels"
                        [options]="stackedBarChartOptions"
                        [legend]="stackedBarChartLegend"
                        [chartType]="stackedBarChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"
                    >
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div  class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Reports per maand
                </div>
                <div *ngIf="isLoaded" class="card-body">
                    <canvas
                        baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"
                    >
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Ongevallen per type voertuig
                </div>
                <div *ngIf="isLoaded" class="card-body">
                    <canvas
                        baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"
                    >
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>
